body{
    background-color: black;
    color:white;

}
nav{
    display: flex;
    justify-content: space-around;
    background-color:#191818;
    height: 5rem;
    align-items: center;
    /* column-gap: 6px; */

}
.searchicon{
    margin-right: 200px;
    padding-right: 120px;
}
#text{
    height: 30px;
    width:35rem;
    background-color: azure;
    font-size: 20px;
    /* margin-left: 50px; */
}
.search{
        width: 260px;
        border: 1px solid #555;
        display: block;
        padding: 9px 4px 9px 40px;
        background: transparent url("/search.svg") no-repeat 13px;
        margin-right: 30rem;
}
.selection{
    height: 50px;
    width:4rem;
    font-size: 20px;
}
.choice{
    display: flex;
    margin-left: 130px;    
}
.icons{
    color: white;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;

}
.language{
    height: 40px;
    margin-top: 17px;
    font-size: 20px;
}
#pro{
    margin-top: 18px;
    color: cornflowerblue;

}
.wrapper{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}
span{
    font-size: 30px;
    color: azure;
}
 img{
    height: 100%;
    width: 100%;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    overflow-x: hidden;
}

.image_1 {
    width: calc(16.666% - 20px);
    text-align: center;
}

.image_1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#watch,#trailer{
    background-color: #27dbcc;
    height: 30px;
    width:6rem;
    column-gap: 10px;
}

    
h4{
    margin-bottom: 10px;
}
#btn{
     background-color: #00b7ff;

    margin: 10px;
    padding: 4px 15px;
    height: 27px;
    width:6rem ;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}
#photo img{ 
     height: 14rem; 
    width:12rem ; 
 } 
#signin{
    background-color: yellow;
    height: 3rem;
    width: 15rem;
    border-radius: 1px solid;
    font-size: 20px;
    text-align: center; 
    /* align-items: center; */
    margin-left: 47rem;
}
h3{
    color:white;
}
.imdb-social{
    /* border:2px solid white; */
    height: 10rem;
    width: 50%;
    display:flex;
    column-gap: 8rem;
    margin-left: 30rem;
    margin-top: 40px;
}
.Follow_IMDb_on_social,.Gett_he_IMDb_app{
    border:2px solid #494747;
    border-radius: 3px;
    height: 8rem;
    width: 40rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
p{
    color:darkgrey;
}

.qrcode{
    margin-bottom: 2rem;
    margin-left: 21rem;
    margin-bottom: 1rem;
    padding-top: -120px;
}
#qr{
    margin-top: -70px;
}
.social_media{
    display: flex;
    justify-content: space-evenly;
    row-gap: 5px;
}
#words,#press_room{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    color: #989292;
    font-size: 18px;
}
#amazon{
    text-align: center;
}